@import "./../../common";

.alertbox {
  width: 280px;
  height: 100px;
  padding: 20px;
  border-radius: $list-border-radius;
  box-shadow: $list-box-shadow;
  display: grid;
  grid-template-columns: 70px auto;
  align-items: center;
  background-color: #fff;
  position: fixed;
  z-index: 500;
  top: 120px;
  left: 50%;
  margin-left: -140px; //negative half of width (to be center)
  transform: translateX(-50%);
  @include animation(
    "slideUpFadeOut 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both"
  );

  .alertIcon {
    width: 60px;
    height: auto;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    justify-self: flex-end;

    img {
      width: 100%;
    }
  }

  .messageText {
    margin-left: 20px;
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: $font-size-small;
    color: $base-text-color;
    font-weight: 700;
    letter-spacing: 1px;
  }
}
