@import "./../../common";

.applyTable {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1.5fr repeat(7, 1fr);
  grid-template-rows: repeat(13, 65px);
  grid-auto-flow: column;
  align-items: center;

  .tableCol1 {
    font-size: $font-size-xsmall;
    font-weight: 600;
    justify-self: center;
  }

  .daysInTable {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid $light-border-color;
    display: flex;
    justify-content: center;
    align-items: center;

    .orderLabel {
      padding: 0;
      cursor: pointer;
    }

    .orderBox {
      display: none;

      &:focus {
        box-shadow: none;
      }
    }
    .orderBox + span {
      width: 20px;
      height: 20px;
      display: inline-block;
      background: url("./../../img/checkbox.png");
      background-size: contain;
    }

    .orderBox:checked + span {
      background: url("./../../img/checkbox-checked.png");
      background-size: contain;
    }
  }

  .daysInTableDisable {
    background-color: $color-opal;
    color: $light-text-color;
    border-bottom: 1px solid #fff;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25px 40px;
    // align-items: center;
    justify-items: center;

    .cancelBtn {
      @include button-icon;
      width: 18px;
      height: 18px;
      margin: 4px;
      border: 1px solid #fff;
      background-color: transparent;
      grid-row: 1/2;
      align-self: flex-end;
      // justify-self: flex-end;

      &:hover {
        background-color: $color-fireOpal;
      }
    }

    .text {
      width: 100%;
      font-size: 12px;
      line-height: 1.5;
      text-align: center;
      grid-row: 2/3;
      align-self: flex-start;
    }
  }
}
