@import "./../../common";

.confirmbox {
  width: 360px;
  height: 120px;
  padding: 20px 15px;
  border-radius: $list-border-radius;
  box-shadow: $list-box-shadow;
  display: grid;
  grid-template-columns: 70px auto;
  grid-template-rows: repeat(2, 40px);
  align-items: center;
  // background-color: #fff;
  background-color: #aaa;
  position: fixed;
  top: -50px;
  right: 40%;
  @include animation(
    "slideDown 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both"
  );

  .confirmIcon {
    width: 60px;
    height: auto;
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: center;
    justify-self: flex-end;
    @include animation("changeScale 0.5s infinite");

    img {
      width: 100%;
    }
  }

  .messageText {
    margin-left: 20px;
    font-size: $font-size-small;
    color: $base-text-color;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .btnWrapper {
    padding-right: 20px;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: flex-end;

    .confirmBtn {
      @include button-main;
      width: 60px;
      padding: 5px;
      margin-right: 10px;
      font-weight: 700;

      &:nth-child(1) {
        color: #555;
        background-color: #eee;
      }

      &:nth-child(2) {
        background-color: #555;
      }

      &:hover {
        color: #fff;
        background-color: $color-fireOpal;
      }
    }
  }
}
