@import "./../../common";

.loadingComponent {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  margin-top: -50vh; // negative half of height
  margin-left: -50%; //negative half of width
  border-radius: $list-border-radius;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  .loadingCard {
    width: 200px;
    height: 220px;
    padding: 15px 15px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .imgWrapper {
      width: 120px;
      height: 120px;
      margin: 20px;
      padding: 8px 12px 12px 12px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: $list-box-shadow;
      // @include animation("rotateVertCenter 2s infinite none");

      img {
        width: 100%;
      }
    }

    .loadingText {
      display: flex;
      align-items: center;

      .circle {
        width: 5px;
        height: 5px;
        margin: 5px;
        border-radius: 50%;
        align-self: flex-end;
        display: inline-block;
        background-color: $color-opal;
        @include animation("floating 1s alternate infinite ease");

        &:nth-child(1) {
          margin-left: 10px;
        }

        &:nth-child(2) {
          animation-delay: 0.2s;
        }
        &:nth-child(3) {
          animation-delay: 0.4s;
        }
      }
    }
  }
}
