@import "./../../common";

.emailBackground {
  width: 100vw;
  height: 100vh;
  padding: 60px 40px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);

  .emailForm {
    width: 500px;
    height: auto;
    display: flex;
  }
}

.informTitle {
  width: 100%;
  padding: 0 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: 28px;
    color: #fff;
  }

  .closeBtn {
    @include button-icon;
    background-color: $color-fireOpal;

    img {
      width: 80%;
    }
  }
}

.fillPlace {
  width: 50%;
  height: 360px;
  margin: auto;
  padding: 20px 30px;
  border-radius: $list-border-radius;
  background-color: #fff;
  display: grid;
  grid-template-columns: 60px auto;
  grid-template-rows: 40px 40px auto;
  justify-items: flex-end;
  align-items: center;

  .emailInputTitle1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .emailInput1 {
    grid-column: 2/3;
    grid-row: 1/2;
    letter-spacing: 1px;
  }

  .emailInputTitle2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .emailInput2 {
    grid-column: 2/3;
    grid-row: 2/3;
    letter-spacing: 1px;
  }

  .emailInputTitle3 {
    padding-top: 20px;
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: flex-start;
  }

  .emailInput3 {
    padding: 5px 10px;
    grid-column: 2/3;
    grid-row: 3/4;
    align-self: flex-start;
    line-height: 1.5;
    letter-spacing: 1px;
    outline: none;
  }

  .emailInputTitle {
    padding-right: 10px;
    font-size: $font-size-xsmall;
    font-weight: 600;
  }

  .emailInput {
    @include input-base;
    width: 100%;
  }

  .sendBtn {
    @include button-main;
    width: 60px;
    grid-column: 2/3;
    grid-row: 4/5;
  }
}

/**********
  < 768px
***********/
@media (max-width: 768px) {
  .informTitle {
    padding: 0 20px;

    h2 {
      line-height: 1.4;
    }
  }

  .fillPlace {
    width: 96%;
  }
}

/**********
  < 500px
***********/
@media (max-width: 500px) {
  .informTitle {
    padding: 0 10px;

    h2 {
      font-size: 1.4em;
    }

    .closeBtn {
      position: absolute;
      top: 50px;
      right: 30px;
    }
  }
}
