@import "./../../common";

.mailBox {
  width: 85%;
  max-width: 1000px;
  min-height: 100vh;
  padding: 40px;
  margin-left: $admin-margin-left;
  margin-top: $admin-margin-top;
}

.outerMailList {
  width: 100%;
  padding: 10px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .titleContainer {
    margin-right: auto;
    display: flex;
    align-items: center;

    .titleImg {
      width: 50px;
      height: 50px;
    }

    .title {
      margin: 10px;
      font-size: 1.4em;
      font-weight: 600;
    }
  }

  .buttonBox {
    width: 140px;
    height: 25px;
    margin: 10px 50px;
    border: 1px solid $color-opal;
    border-radius: $base-border-radius;
    font-size: $font-size-xsmall;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    position: relative;

    .button {
      margin: 6px;
      padding: 6px;
      cursor: pointer;
      z-index: 2;
    }

    .current {
      color: #fff;
    }

    .buttonBackground {
      width: 70px;
      height: 25px;
      border-radius: $base-border-radius;
      position: absolute;
      z-index: 1;
      background-color: $color-opal;
    }
    .left {
      left: 0;
    }
    .right {
      right: 0;
    }
  }

  .addBtn {
    @include button-main;
    width: 60px;
  }
}

.emptyMailList {
  width: 100%;
  height: 200px;
  margin: 20px auto;
  padding: 40px;
  border-radius: $list-border-radius;
  box-shadow: $list-box-shadow;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, 50px) 40px;
  justify-items: center;
  align-items: center;

  .imgWrapper {
    width: 50px;
    height: auto;
  }

  .emptyText {
    font-size: $font-size-small;
  }

  .circles {
    display: flex;
    align-items: center;
    .circle {
      width: 5px;
      height: 5px;
      margin: 5px;
      border-radius: 50%;
      align-self: flex-end;
      display: inline-block;
      background-color: $color-opal;
      @include animation("floating 1s alternate infinite ease");

      &:nth-child(1) {
        margin-left: 10px;
      }

      &:nth-child(2) {
        animation-delay: 0.2s;
      }
      &:nth-child(3) {
        animation-delay: 0.4s;
      }
    }
  }
}

.mailList {
  width: 100%;
  max-height: 420px;
  overflow-y: scroll;
  margin: 20px auto;
  padding: 10px 5px;
  border-radius: $list-border-radius;
  box-shadow: $list-box-shadow;
  display: grid;
  grid-template-columns: repeat(3, 1fr) repeat(2, 2fr) repeat(2, 1fr) 2fr;

  .tableTitle,
  .list {
    padding: 10px 0;
    grid-column: 1/9;
    display: grid;
    grid-template-columns: repeat(3, 1fr) repeat(2, 2fr) repeat(2, 1fr) 2fr;
    justify-items: center;
    align-items: center;
    font-size: 0.95em;

    .listTitle {
      display: none;
    }

    .mailBtns {
      display: flex;
      align-items: center;

      .status {
        @include button-icon;
        background-color: #fff;

        &:hover {
          background-color: #eee;
        }
      }

      .trashImg {
        @include button-icon;
        margin: 0;

        &:hover {
          transition: all 0.3s ease-in-out;
        }

        img {
          width: 100%;
        }
      }
    }
  }

  .tableTitle {
    font-weight: 600;
  }
}

/**********
  < 1440px
***********/
@media (max-width: 1440px) {
  .mailBox {
    width: 96%;
    margin-left: 260px;

    .header {
      .title {
        width: 140px;
      }
      .buttonBox {
        margin: 0 24px;
      }
    }

    .mailList {
      .tableTitle {
        display: none;
      }

      .list {
        margin: 5px 10px;
        display: grid;
        grid-template-columns: 15% 30% 20% 35%;
        grid-template-rows: repeat(4, 30px);
        border-bottom: 1px solid $color-opal;

        &:last-child {
          border-bottom: none;
        }

        .listTitle {
          width: 100%;
          display: block;
          text-align: right;
          font-weight: 600;
        }

        .listItems {
          justify-self: start;
          margin-left: 15px;
        }

        .titleMailNumbers {
          grid-column: 1/2;
          grid-row: 1/2;
        }

        .itemMailNumbers {
          grid-column: 2/3;
          grid-row: 1/2;
        }

        .titleResidentNumbers {
          grid-column: 1/2;
          grid-row: 2/3;
        }

        .itemResidentNumbers {
          grid-column: 2/3;
          grid-row: 2/3;
        }

        .titleReceiverName {
          grid-column: 3/4;
          grid-row: 2/3;
        }
        .itemReceiverName {
          grid-column: 4/5;
          grid-row: 2/3;
        }

        .titleMailType {
          grid-column: 1/2;
          grid-row: 3/4;
        }

        .itemMailType {
          grid-column: 2/3;
          grid-row: 3/4;
        }

        .titleReceiveDate {
          grid-column: 3/4;
          grid-row: 3/4;
        }

        .itemReceiveDate {
          grid-column: 4/5;
          grid-row: 3/4;
        }

        .titlePlace {
          grid-column: 1/2;
          grid-row: 4/5;
        }

        .itemPlace {
          grid-column: 2/3;
          grid-row: 4/5;
        }

        .titleRemark {
          grid-column: 3/4;
          grid-row: 4/5;
        }

        .itemRemark {
          grid-column: 4/5;
          grid-row: 4/5;
        }

        .mailBtns {
          width: 100%;
          grid-column: 3/5;
          grid-row: 1/2;
          display: flex;
          justify-content: space-between;

          .status {
            margin-left: auto;
          }
        }
      }
    }
  }
}

/**********
  < 1024px
***********/
@media (max-width: 1024px) {
  .mailBox {
    margin-left: 240px;
  }
}

/**********
  < 768px
***********/
@media (max-width: 768px) {
  .mailBox {
    width: 96%;
    margin: 30px auto;
  }
}

/**********
  < 600px
***********/
@media (max-width: 600px) {
  .mailBox {
    width: 100%;
    padding: 20px;

    .header {
      display: grid;
      grid-template-rows: repeat(2, 1fr);

      .titleContainer {
        grid-column: 1/3;
        grid-row: 1/2;

        .title {
          font-size: 1.2em;
        }
      }

      .buttonBox {
        grid-column: 1/2;
        grid-row: 2/3;
      }

      .addBtn {
        grid-column: 2/3;
        grid-row: 2/3;
      }
    }

    .mailList {
      margin: 20px auto 0px;

      .list {
        margin: 5px;
        grid-template-columns: 25% 30% 20% 25%;
        grid-template-rows: repeat(6, 30px);

        .titleMailType {
          grid-column: 1/2;
          grid-row: 3/4;
        }

        .itemMailType {
          grid-column: 2/5;
          grid-row: 3/4;
        }

        .titleReceiveDate {
          grid-column: 1/2;
          grid-row: 4/5;
        }

        .itemReceiveDate {
          grid-column: 2/5;
          grid-row: 4/5;
        }

        .titlePlace {
          grid-column: 1/2;
          grid-row: 5/6;
        }

        .itemPlace {
          grid-column: 2/5;
          grid-row: 5/6;
        }

        .titleRemark {
          grid-column: 1/2;
          grid-row: 6/7;
        }

        .itemRemark {
          grid-column: 2/5;
          grid-row: 6/7;
        }
      }
    }
  }
}
