@import "./../../common";

.mailBox {
  width: 85%;
  max-width: 1000px;
  padding: 40px;
  margin-left: $admin-margin-left;
  margin-top: $admin-margin-top;
}

.outerMailList {
  width: 100%;
  padding: 10px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .titleContainer {
    margin-right: auto;
    display: flex;
    align-items: center;

    .titleImg {
      width: 50px;
      height: 50px;
    }

    .title {
      margin: 10px;
      font-size: 1.2em;
      font-weight: 600;
    }
  }

  .buttonBox {
    width: 140px;
    height: 25px;
    margin: 10px 50px;
    border: 1px solid $base-border-color;
    border-radius: $base-border-radius;
    font-size: $font-size-xsmall;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    position: relative;

    .button {
      margin: 6px;
      padding: 6px;
      cursor: pointer;
      z-index: 2;
    }

    .current {
      color: #fff;
    }

    .buttonBackground {
      width: 70px;
      height: 25px;
      border-radius: $base-border-radius;
      position: absolute;
      z-index: 1;
      background-color: $base-button-background-color;
    }
    .left {
      left: 0;
    }
    .right {
      right: 0;
    }
  }

  .addBtn {
    width: 60px;
    height: 30px;
    cursor: pointer;
  }
}

.mailList {
  width: 100%;
  max-height: 500px;
  overflow-y: scroll;
  margin: 20px auto;
  padding: 10px 5px;
  border-radius: $list-border-radius;
  box-shadow: $list-box-shadow;
  display: grid;
  grid-template-columns: repeat(3, 1fr) repeat(2, 2fr) repeat(2, 1fr) 2fr;

  .tableTitle,
  .list {
    padding: 10px 0;
    grid-column: 1/9;
    display: grid;
    grid-template-columns: repeat(3, 1fr) repeat(2, 2fr) repeat(2, 1fr) 2fr;
    justify-items: center;
    align-items: center;

    .status {
      width: 70px;
      height: 30px;
      font-size: $font-size-xsmall;
      color: $base-text-color;
      background-color: $small-button-background-color;
      cursor: pointer;
    }
  }

  .tableTitle {
    font-size: 1.2em;
    font-weight: 600;
  }
}
