/* theme colors */
$color-opal: #96bbbb;
$color-steelTeal: #618985;
$color-rifleGreen: #414535;
$color-fireOpal: #f26157;
$color-melon: #ebb3a9;
$color-dutchWhite: #f2e3bc;
$color-silverPink: #d0b8ac;
$color-unbleachedSilk: #f3d8c7;
$color-linen: #efe5dc;
$color-babyPowder: #fbfefb;

$admin-margin-left: 270px;
$admin-margin-top: 60px;

$base-text-color: #414535;
$light-text-color: #fff;
$light-border-color: #96bbbb;
$base-border-color: #414535;
$base-border-radius: 5px;
$base-button-background-color: #414535;
$small-button-background-color: #96bbbb;
$base-background: rgb(251, 196, 63);
$gradient-background: linear-gradient(
  336deg,
  rgba(251, 196, 63, 0.5685983011368609) 0%,
  rgba(135, 216, 241, 0.6638363963749563) 100%
);

$gradient-background-no-transparent: linear-gradient(
  336deg,
  rgba(251, 196, 63, 1) 0%,
  rgba(135, 216, 241, 1) 100%
);

$list-border-radius: 10px;
$list-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
$light-box-shadow: 0px 0px 5px 3px rgba(216, 146, 55, 0.52);

$font-size-small: 16px;
$font-size-xsmall: 14px;

@mixin label-list {
  margin: 5px;
  padding-right: 10px;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.2;
}

@mixin input-base {
  border: 1px solid $base-border-color;
  border-radius: $base-border-radius;
  margin: 10px 0;
  font-size: $font-size-xsmall;
  color: $base-text-color;
}

@mixin button-main {
  width: 100px;
  height: 30px;
  font-size: $font-size-xsmall;
  cursor: pointer;
  background-color: $color-steelTeal;

  &:hover {
    background-color: $color-melon;
    transition: all 0.2s ease-in-out;
  }
}

@mixin button-sub {
  width: 70px;
  height: 30px;
  font-size: $font-size-xsmall;
  color: $light-text-color;
  background-color: $small-button-background-color;
  cursor: pointer;

  &:hover {
    background-color: $color-melon;
    transition: all 0.3s ease-in-out;
  }
}

* {
  box-sizing: border-box;
}

a {
  color: $base-text-color;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(180, 221, 221);
  border-radius: 20px;
  background: $base-background;
  background: $gradient-background;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
