$base-text-color: #445;
$base-border-color: #445;
$base-border-radius: 5px;
$base-button-background-color: #455;
$base-background: rgb(251, 196, 63);
$gradient-background: linear-gradient(
  336deg,
  rgba(251, 196, 63, 0.5685983011368609) 0%,
  rgba(135, 216, 241, 0.6638363963749563) 100%
);

$gradient-background-no-transparent: linear-gradient(
  336deg,
  rgba(251, 196, 63, 1) 0%,
  rgba(135, 216, 241, 1) 100%
);

$list-border-radius: 10px;
$list-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
$light-box-shadow: 0px 0px 5px 3px rgba(216, 146, 55, 0.52);

$font-size-small: 16px;

* {
  box-sizing: border-box;
}

a {
  color: $base-text-color;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(180, 221, 221);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
