@import "./common";

.App {
  color: $base-text-color;
  background-color: #fff;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

h2 {
  font-size: 20px;
  margin: 10px;
}

h3 {
  font-size: 18px;
}

a {
  text-decoration: none;
}
