@import "./../../common";
.residentPage {
  width: 85%;
  max-width: 1000px;
  min-height: 100vh;
  padding: 40px;
  margin-left: $admin-margin-left;
  margin-top: $admin-margin-top;

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .titleContainer {
      display: flex;
      align-items: center;
      grid-row: 1/3;

      .titleImg {
        width: 50px;

        img {
          width: 100%;
        }
      }

      .title {
        margin: 10px;
        font-size: 1.4em;
        font-weight: 600;
      }
    }

    .addBtn {
      width: 60px;
      height: 30px;

      // background-color: $color-fireOpal;
      background-color: $color-steelTeal;
      cursor: pointer;
    }

    .searchContainer {
      width: 110px;
      height: 30px;
      margin-left: auto;
      margin-right: 10px;
      border: 1px solid $light-border-color;
      border-radius: $base-border-radius;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .searchInput {
        width: 78px;
        height: 28px;
        margin-right: 2px;
        border-radius: $base-border-radius;
      }

      .searchButton {
        width: 30px;
        height: 30px;
        padding: 5px;
        border-radius: 0px 5px 5px 0;
        font-size: $font-size-xsmall;
        background-color: $small-button-background-color;
        cursor: pointer;

        img {
          width: 100%;
        }
      }
    }
  }
}
