@import "./../../common";
.residentList {
  width: 100%;
  max-height: 500px;
  overflow-y: scroll;
  margin: 20px auto;
  padding: 10px 5px;
  border-radius: $list-border-radius;
  box-shadow: $list-box-shadow;
}
