@import "./../../common";

.updateResident {
  max-width: 880px;
}

.titleContainer {
  margin: 30px 0;
  display: flex;
  align-items: center;

  .title {
    margin: 10px;
    font-size: 1.4em;
    font-weight: 600;
  }
}

.titleImg {
  width: 50px;
  height: 50px;

  img {
    width: 100%;
  }
}

.updateResidentDetails {
  width: 95%;
  max-width: 880px;
  margin: auto;
  border-radius: $list-border-radius;
  box-shadow: $list-box-shadow;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  .submitMemberList {
    @include button-main;
    width: 100px;
    margin: 0 40px 40px auto;
    // margin: 0 auto 20px;
  }
}

.basicInfo {
  width: 100%;
  padding: 20px 20px 0 20px;
  display: grid;
  grid-template-columns: 60px 2fr 80px 2fr;
  grid-template-rows: 50px auto 50px 50px;
  align-items: center;

  .detailTitle {
    @include label-list;
    justify-self: end;
  }

  .detailInput {
    @include input-base;
    width: 100%;
  }

  .remindMessage {
    color: $color-fireOpal;
    font-size: 12px;
    letter-spacing: 1px;
    padding-left: 4px;
  }

  .remindResidentNumbers {
    height: 0;
    grid-column: 2/3;
    grid-row: 2/3;
    opacity: 0;
  }

  .remindFloor {
    height: 0;
    grid-column: 4/5;
    grid-row: 2/3;
    opacity: 0;
  }

  .titleAddress {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .inputAddress {
    grid-column: 2/5;
    grid-row: 3/4;
  }

  .titleRemark {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .inputRemark {
    grid-column: 2/5;
    grid-row: 4/5;
  }
}

.familyMemberList {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .titleContainer {
    margin: 10px 0 20px;
    font-size: 1.2em;
    font-weight: 600;
    grid-column: 1/3;

    .title {
      margin: 10px;
      font-size: 1.1em;
      font-weight: 600;
    }

    .buttonContainer {
      margin-left: auto;
      display: grid;
      grid-template-columns: repeat(2, 45px);

      .buttonMemberList {
        @include button-icon;
        width: 35px;
        height: 35px;
        padding: 8px;
        // background-color: $color-opal;

        &:hover {
          background-color: $color-melon;
        }
      }
    }
  }

  .familyMember {
    margin: 15px;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: repeat;
    align-items: center;
    @include animation(
      "slideRight 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both"
    );

    &:nth-child(even) {
      border-left: 8px solid #96bbbb;
      margin-right: 20px;
      grid-column: 1/2;
    }

    &:nth-child(odd) {
      border-left: 8px solid #f2e3bc;
      grid-column: 2/3;
    }

    .familyTitle {
      @include label-list;
      justify-self: end;
    }

    .familyInput {
      @include input-base;
      width: 100%;
    }
  }
}

/***********
  < 990px
************/
@media (max-width: 990px) {
  .familyMemberList {
    .familyMember {
      grid-template-columns: 25% 70%;
      font-size: $font-size-small;

      &:nth-child(even),
      &:nth-child(odd) {
        grid-column: 1/3;
      }
    }
  }
}

/***********
  < 900px
************/
@media (max-width: 900px) {
  .familyMemberList {
    .familyMember {
      grid-template-columns: 25% 70%;
      font-size: $font-size-small;

      &:nth-child(even),
      &:nth-child(odd) {
        grid-column: 1/3;
      }
    }
  }
}

/***********
  < 750px
************/
@media (max-width: 750px) {
  .titleContainer {
    .title {
      font-size: 1.2em;
    }
  }

  .basicInfo {
    padding: 20px 10px 0 10px;
  }

  .familyMemberList {
    .familyMember {
      grid-template-columns: 90px auto;
    }
  }
}
