@import "./../../common";

.updateResident {
  margin: 50px auto;
}

.titleContainer {
  margin: 30px 0;
  display: flex;
  align-items: center;

  .title {
    margin: 10px;
    font-size: 1.4em;
    font-weight: 600;
  }
}

.titleImg {
  width: 50px;
  height: 50px;

  img {
    width: 100%;
  }
}

.updateResidentDetails {
  width: 100%;
  border-radius: $list-border-radius;
  box-shadow: $list-box-shadow;
  display: flex;
  flex-wrap: wrap;

  .submitMemberList {
    width: 120px;
    margin: 0 auto 20px;
    background-color: $base-button-background-color;
  }
}

.basicInfo {
  width: 100%;
  padding: 20px 20px 0 20px;
  display: grid;
  grid-template-columns: 60px 2fr 80px 2fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;

  .detailTitle {
    @include label-list;
    justify-self: end;
  }

  .detailInput {
    @include input-base;
    width: 100%;
  }

  .inputAddress,
  .inputRemark {
    grid-column: 2/5;
  }
}

.familyMemberList {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .titleContainer {
    margin: 10px 0 20px;
    font-size: 1.2em;
    font-weight: 600;
    grid-column: 1/3;

    .title {
      margin: 10px;
      font-size: 1.2em;
      font-weight: 600;
    }

    .buttonContainer {
      margin-left: auto;
      display: grid;
      grid-template-columns: repeat(2, 60px);

      .buttonMemberList {
        width: 50px;
        color: $base-text-color;
        background-color: $color-dutchWhite;

        &:hover {
          color: $light-text-color;
          background-color: $color-fireOpal;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }

  .familyMember {
    margin: 15px;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: repeat;
    align-items: center;

    &:nth-child(even) {
      border-left: 8px solid #96bbbb;
      grid-column: 1/2;
    }

    &:nth-child(odd) {
      border-left: 8px solid #f2e3bc;
      grid-column: 2/3;
    }

    .familyTitle {
      @include label-list;
      justify-self: end;
    }

    .familyInput {
      @include input-base;
      width: 100%;
    }
  }
}
