@import "./../../common";
@import "./Entry.module.scss";

.applyTable {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1.5fr repeat(7, 1fr);
  grid-template-rows: repeat(13, 40px);
  grid-auto-flow: column;
  align-items: center;

  .tableCol1 {
    font-size: $font-size-xsmall;
    font-weight: 600;
    justify-self: center;
  }

  .daysInTable {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid $light-border-color;
    display: flex;
    justify-content: center;
    align-items: center;

    .orderLabel {
      padding: 0;
      cursor: pointer;
    }

    .orderBox {
      display: none;

      &:focus {
        box-shadow: none;
      }
    }
    .orderBox + span {
      width: 20px;
      height: 20px;
      display: inline-block;
      background: url("./../../img/checkbox.png");
      background-size: contain;
    }

    .orderBox:checked + span {
      background: url("./../../img/checkbox-checked.png");
      background-size: contain;
    }
  }

  .daysInTableDisable {
    background-color: $color-steelTeal;
    color: $light-text-color;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
  }
}
