@import "./../../common";

.entryPage {
  width: 100%;
  margin: auto;

  .entry {
    max-width: 1000px;
    padding: 20px 40px;
    margin: auto;
    background: $gradient-background;
  }

  h1 {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
  }

  h2 {
    margin-left: 15px;
    font-size: 24px;
  }
}

.topBar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: 20px;
  }
}

.logoWrapper {
  width: 150px;
  height: 150px;
  margin: 20px auto 0;
  padding: 20px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: $list-box-shadow;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  img {
    width: 100%;
  }
}

.cards {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 180px;
  justify-items: center;
  align-items: center;

  .card {
    width: 90%;
    height: 100%;
    padding: 10px;
    border-radius: $list-border-radius;
    background-color: rgba($color: #fff, $alpha: 0.6);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: rgba($color: #fff, $alpha: 1);
      transform: translateY(-10px) rotate(5deg);
      transition: all 0.4s ease-in-out;
    }

    .imgWrapper {
      width: 100%;
      height: 60px;

      img {
        height: 100%;
      }
    }

    .cardTitle {
      margin: 0 0 10px 0;
      line-height: 1.2;
    }
  }
}

.issues,
.mails,
.field {
  width: 100%;
  height: auto;
  padding: 30px;
  margin: 30px 0;
  background-color: #fff;
  border-radius: $list-border-radius;
  box-shadow: $list-box-shadow;
}

.title {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.imgWrapper {
  width: 50px;
  height: auto;
  position: relative;

  .number {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: tomato;
    position: absolute;
    bottom: 2px;
    right: -8px;
  }

  img {
    width: 100%;
  }
}

.userMail:last-child,
.userMailHistory:last-child {
  margin-bottom: 0;
  border: none;
}

.logout {
  @include button-main;
  width: 60px;
  height: 30px;
  font-size: $font-size-xsmall;
}

/*********
  < 700px
**********/
@media (max-width: 700px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 180px);

    .card {
      max-width: 90%;
      height: 160px;
    }
  }
}
