@import "./../../common";
@import "./Entry.module.scss";

.fieldApply {
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .applyTitle {
    margin-right: 10px;
    justify-self: end;
    font-size: $font-size-small;
    font-weight: 600;
  }
  .selectField {
    height: 25px;
    margin-right: auto;
  }

  .orderBtn {
    @include button-main;
    width: 60px;
    margin-left: 20px;
  }
}

.titleWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr repeat(7, 1fr);
  grid-template-rows: 50px;
  align-items: center;
  justify-items: center;

  .tableTitle {
    width: 100%;
    height: 100%;
    align-self: center;
    font-size: $font-size-xsmall;
    font-weight: 600;
    line-height: 1.4;
    text-align: center;
    border-bottom: 1px solid $color-steelTeal;
  }
}

.applyTable {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1.5fr repeat(7, 1fr);
  grid-template-rows: repeat(13, 40px);
  grid-auto-flow: column;
  align-items: center;

  .tableCol1 {
    font-size: $font-size-xsmall;
    font-weight: 600;
    justify-self: center;
  }
}
