@import "./../common";

.admin {
  display: flex;
  flex-wrap: wrap;
}

.topBar {
  display: none;
}

.sidebar {
  width: 250px;
  height: 100%;
  padding-top: 10px;
  background: $base-background;
  background: $gradient-background;
  font-size: 1em;
  position: fixed;
  top: 0;
  left: 0;

  .logoArea {
    width: 100%;
    height: 120px;
    padding: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .imgWrapper {
    width: 120px;
    height: auto;
    padding: 15px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: $list-box-shadow;
  }

  img {
    width: 100%;
  }

  .sidebarList {
    width: 100%;
    margin: 2px 0;
    background: rgba(44, 102, 110, 0.363);

    &::after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: rgba(255, 255, 255, 0.2);
    }

    &:first-child {
      border-top: none;
    }

    .tag {
      width: 100%;
      height: 40px;
      padding-left: 40px;
      display: flex;
      align-items: center;
      color: #fff;
      letter-spacing: 3px;

      &:hover {
        border-right: 10px solid rgba(44, 102, 110, 0.3);
      }
    }
  }

  .footer {
    width: 250px;
    height: 50px;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .copyright {
      font-size: $font-size-xsmall;
    }

    .logout {
      @include button-icon;
      background-color: $color-rifleGreen;
      opacity: 0.7;

      &:hover {
        opacity: 1;
        background-color: $color-rifleGreen;
      }
    }
  }
}

/***********
  < 768px
************/
@media (max-width: 768px) {
  .topBar {
    width: 100%;
    height: 50px;
    background-color: $color-steelTeal;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .toggleBtn {
      width: 30px;
      height: 30px;
      border-radius: 5px;
      margin-top: 5px;
      margin-right: 10px;
      position: relative;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.5s ease-in-out;
      -moz-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      cursor: pointer;

      .hamburgerIcon {
        width: 28px;
        height: 3px;
        border-radius: 15px;
        display: block;
        background-color: $hamburger-lines-color;
        position: absolute;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;

        &:nth-child(1) {
          top: 0;
        }

        &:nth-child(2),
        &:nth-child(3) {
          top: 10px;
        }

        &:nth-child(4) {
          top: 20px;
        }
      }
    }

    .toggleBtn.open {
      .hamburgerIcon {
        &:nth-child(1) {
          top: 10px;
          width: 0%;
          left: 50%;
        }

        &:nth-child(2) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        &:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }

        &:nth-child(4) {
          top: 10px;
          width: 0%;
          left: 50%;
        }
      }
    }
  }

  .sidebar {
    width: 250px;
    left: -250px;
    z-index: 300;
  }
}
