@import "./../common";

.calendar {
  width: 250px;
  padding: 10px;
  margin-top: 5px;
  // border: 1px solid $base-border-color;
  border-radius: $base-border-radius;
  box-shadow: $list-box-shadow;

  .title {
    display: flex;

    .year {
      font-size: 1em;
      margin: 10px;
    }

    .month {
      width: 60px;
      border-radius: 5px;
    }
  }

  .calendarBody {
    margin-top: 10px;

    ul {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
    }
  }
}
